<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxelrpg.game"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:version="0x400003"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="Voxel RPG"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hasCode="false"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:isGame="true"
        android:extractNativeLibs="false"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen"
        android:usesCleartextTraffic="false">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Voxel RPG"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|density|uiMode"
            android:screenOrientation="sensorLandscape"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">

            <meta-data
                android:name="android.app.lib_name"
                android:value="native-lib" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>